@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@import "tailwindcss";

@theme {
  --color-background: #ecf2f8;
  --color-dark-graish-blue: hsl(217, 19%, 35%);
  --color-desaturated-dark-blue: hsl(214, 17%, 51%);
  --color-grayish-blue: hsl(212, 23%, 69%);
  --color-light-grayish-blue: hsl(210, 46%, 95%);

  --font-family-default: "Manrope", sans-serif;
}
